	
<form id="appendto" ng-controller="suitdragCtl">
<div>
<div style="width: 70%;">
<p id="demo"></p>
<div class="droptarget" id="dragData" style="float:left; width: 35%">
<div ng-repeat="pagedata in resdata track by $index">
  <div class="Row" draggable="true" id="{{pagedata.pageName}}">
     <div class="Column">{{pagedata.pageName}}</div>
 </div>    
</div>
</div>

<div class="droptargetright" id="droppedDataparent" style="float:right; width: 35%">
<div class="droptarget" id="droppedData"></div>
</div>

</div>
<div>
 <input type="submit" class="btn btn-primary" id="submit" value="Submit" ng-click="submit()"></input>
</div> 
 </div>
</form>
	