	
	<style>
div.abc {
  transition: all linear 0.5s;
  background-color: lightblue;
 /*  height: 100px;
  width: 100%;
  */ position: relative;
  top: 0;
  left: 0;
}

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}
</style>
	<form ng-controller="testcasesubmiCtrl">
	<p id="gname"></p>
	 <p>Name : <input type="text"  ng-model="groupName"  value="groupName" ng-blur="onblur_check_groupname()"> </input></p>
	<p>ExecutionTime: <input type="datetime-local" ng-model="executedaytime"></input></p>
			
			<table border="1" ng-repeat="r in thinkworks track by $index">
					<tr>
						<td width="150px">{{r.pageName}}
						<input type="checkbox" name="pageName"
							value="{{pageName}}" ng-checked="yes" ng-model="myVar" ng-click="addID(r.pageName ,myVar)"> </input>
						</td>

						<td width="700px">
							<!--  | filter:{'fieldlength':  2}:true -->
								<div ng-repeat="y in r">
									<div class="abc" ng-repeat="(key,value) in y " ng-show="myVar">
										<table>
											<tr>
												<td id="{{ key }}"  width="40%">{{ key }} :</td>
												<td width="60%"><input type="text" value="{{value}}" id="{{value}}"  ng-blur="onblurchangevalue(key,this.value,$index,y)">
												</input></td>
											</tr>
										</table>
									</div>
								
							</div>
						</td>
					</tr>
				</table>
			
			
			{{testcasename}}
			
 <input type="submit" id="submit1"  value="Submit"  class="btn btn-primary" ng-click="submit(groupName,executedaytime)"></input>
</form>
	